@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --white-clr: #fff;
    --blue-clr: #2C7DFA;
    --darkNavy-clr:#1F314F;
    --grey-clr: #7D889E;
    --greyLight-clr: #D5E1EF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}


.wrapper{
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--greyLight-clr);;
}

.qr-container{
    width: 320px;
    min-width: 320px;
    height: 497px;
    border-radius: 20px;
    padding: 1rem;
    background-color: var(--white-clr);
}

.qr-img{
    background-image: url("./images/image-qr-code.png");
    width: 100%;
    height: 18rem;
    background-size:cover;
    background-position: center;
    border-radius: 10px;

}
.qr-details{
    padding-right:0.8rem ;
    padding-left: 0.8rem;
    margin-top: 1.1rem;
    text-align: center;
}
.qr-details h1{
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--darkNavy-clr);
    
}
.qr-details p{
    margin-top: 1rem;
    font-weight: 400;
    font-size: 15px;
    color: var(--grey-clr);
    
}

